body{
  background: url(./images/background.jpg);
  background-size: 500px;
}

/*------ HEADER -----*/ 
.mainHeader{
    height: 150px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 20px 25px 3px rgba(184,184,184,1);
    -moz-box-shadow: 0px 20px 25px 3px rgba(184,184,184,1);
    box-shadow: 0px 20px 25px 3px rgba(207, 207, 207, 0.89);
    background: #fff;
}
.logoImage{
  height: 100%;
}

/*------ MAIN PAGE -----*/ 
.cardBox{
  height: 100px;
  width: 100px;
  background: #fff;
}

.mainSection{
  padding: 100px;
  display: flex;
  flex-direction: row;
}